.page-search-ting .webform-client-form {
  margin: 0 1em;
  width: 90%;
  }

.page-search-ting .webform-client-form li {
  list-style: disc outside none;
  margin: 0 1em;
  }

.page-search-ting .webform-component .form-item {
  padding: 0.3em 0;
  }

.page-search-ting #webform-component-markup-text {
  background: url(../img/helping-hand.png) no-repeat scroll 0 0 transparent;
  margin-bottom: 1em;
  padding-left: 45%;
  }

.page-search-ting #webform-component-searchstring {
  display: none;
  }

.page-search-ting .webform-component-textarea {
  float: left;
  width: 40%;
  }

.page-search-ting .webform-client-form textarea {
  height: 12em;
  width: 100%;
  }

.page-search-ting .webform-client-form .form-text {
  float: right;
  margin-left: 1em;
  width: 50%;
  }

.page-search-ting .webform-component-textfield, 
.page-search-ting #webform-component-user-email {
  margin-left: 45%;
  width: 55%;
  }

.page-search-ting .webform-component-textfield .form-description, 
.page-search-ting #webform-component-user-email .form-description {
  width: 45%;
  }

.page-search-ting .webform-component-display {
  clear: both;
  padding-top: 2em;
  }

.page-search-ting .form-submit {
  height: 3em;
  width: 40%;
} 